.DS_Store
.dart_tool/

.packages
.pub/

build/
flutter*.log
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
doc/

.idea/workspace.xml
.idea/vcs.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries

# IDE
.idea/
*.iml
.vscode/

# Tool ignore
/tool/company_identifiers.yaml
